.app {
  width: 100vw;
  min-height: 100vh;
  background-color: #fafcff;
  box-sizing: border-box;
  padding-left: 20px;
}

.app-header {
  display: flex;
  width: 100%;
  align-items: center;
}

.app-logo {
  margin: 20px;
  height: 50px;
  pointer-events: none;
}
